---
title: "{{ title }}"
date: {{ '%Y-%m-%d' | strftime }}
{% if tags %}tags: [{{ tags | replace(', ', ',') }}]{% else %}tags: []{% endif %}
summary: "{{ summary }}"
---

# {{ title }}

<!-- Your content starts here -->
